{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_title %} Welcome I {% endblock %}

<style>
{% block style %}


{% endblock %}
</style>

{% block jumbotron %}
{{ block.super }}
{% endblock %}


{% block content %}
<div class="row">

      <div class="col-sm-3 pull-right">

    		<p class='lead text-align'> {{ title }} </p>


    		<form method='POST' action=''>{% csrf_token %}
    		{{ form|crispy }}

    		<input class='btn btn-primary' type='submit' value='Sign Up' />
    		<!--<input type='text'>!-->
            </form>
        </div>
        <div class='col-sm-3'>
            <p class='lead text-align'>Build with Django &amp; Bootstrap</p>
        </div>
        <div class='col-sm-3'>
            <p class='lead text-align'>Build with Django &amp; Bootstrap</p>
        </div>
        <div class='col-sm-3'>
            <p class='lead text-align'>Build with Django &amp; Bootstrap</p>
        </div>

</div>

{% endblock %}
