{%  load staticfiles %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/metisMenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sb-admin-2.js' %}"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<script type="text/javascript" src="https://use.fontawesome.com/7c72ed3ecf.js"></script>
