{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title> {% block head_title %} {% endblock %} Lecciones kame</title>

    {% include 'head_css.html' %}
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>


      <!-- agrego la top navbar -->
      {% include 'navbar.html' %}

      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-3 col-lg-2">
                  {% include 'sidebar.html' %}
              </div>
              <div class="col-sm-9 col-lg-10">
                  <!-- your page content -->
                  {% block leccion1vocabulario %}

                  {% endblock %}

                  {% block leccion1lectura %}

                  {% endblock %}

                  {% block leccion1practica %}

                  {% endblock %}

                  {% block leccion1ejercicios %}

                  {% endblock %}


                  <div class='container'>
                      <div class='col-sm-6 col-sm-offset-3'>
                          <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                          <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
                      </div>
                </div>

            </div>
        </div>
    </div>





    {% include 'javascript.html' %}

  </body>
</html>
