{%  load staticfiles %}
  <!-- normal collapsible navbar markup -->
  <div class="navbar-default sidebar"  id="sss" role="navigation">
              <div class="sidebar-nav navbar-collapse "list-group-item"">
                  <ul class="nav" id="side-menu">
                      <li>
                          <a href='{% url "homel" %}' class="list-group-item"><i class="fa fa-university fa-fw"></i> Lecciones</a>
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 1<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href='{% url "leccion1v" %}'>Vocabulario</a>
                              </li>
                              <li>
                                  <a href="lectura">Lectura</a>
                              </li>
                              <li>
                                  <a href="leccion1/practica">Práctica</a>
                              </li>
                              <li>
                                  <a href="leccion1/ejercicios">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 2<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                            <li>
                                <a href='{% url "leccion2v" %}'>Vocabulario</a>
                            </li>
                            <li>
                                <a href="lecciones/leccion2/lectura">Lectura</a>
                            </li>
                            <li>
                                <a href="lecciones/leccion2/practica">Práctica</a>
                            </li>
                            <li>
                                <a href="lecciones/leccion2/ejercicios">Ejercicios</a>
                            </li>

                          </ul>
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 3<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href='{% url "leccion3v" %}'>Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 4<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href='{% url "leccion4v" %}'>Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 5<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Second Level Item</a>
                              </li>
                              <li>
                                  <a href="#">Second Level Item</a>
                              </li>
                              <li>
                                  <a href="#">Third Level <span class="fa arrow"></span></a>
                                  <ul class="nav nav-third-level">
                                      <li>
                                          <a href="#">Third Level Item</a>
                                      </li>
                                      <li>
                                          <a href="#">Third Level Item</a>
                                      </li>
                                      <li>
                                          <a href="#">Third Level Item</a>
                                      </li>
                                      <li>
                                          <a href="#">Third Level Item</a>
                                      </li>
                                  </ul>
                                  <!-- /.nav-third-level -->
                              </li>
                          </ul>
                          <!-- /.nav-second-level -->
                      </li>

                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 6<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 7<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 8<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 9<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 10<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 11<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 12<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 13<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 14<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 15<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 16<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 17<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 18<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 19<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                      <li>
                          <a href="#" class="list-group-item"><i class="fa fa-list fa-fw"></i> Lección 20<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                              <li>
                                  <a href="#">Vocabulario</a>
                              </li>
                              <li>
                                  <a href="#">Lectura</a>
                              </li>
                              <li>
                                  <a href="#">Práctica</a>
                              </li>
                              <li>
                                  <a href="#">Ejercicios</a>
                              </li>

                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                  </ul>
              </div>
              <!-- /.sidebar-collapse -->
          </div>
          <!-- /.navbar-static-side -->
