{% extends "lecciones.html" %}

{% block lecciones %}

    {% block leccion1vocabulario %}

        {% if gg == "vocabulario" %}
<pre >
        <h1 class="text-align-center">１．わたしは にほんじんです。</h1>

<h3>    わたしは　はやしです。
    わたしは　にほんじんです。
    わたしは　にほんごの　せんせいです。

    こんにちは。
    わたしは　はやしです。

    はじめまして。
    わたしは　ジョン　スミスです。　どうぞよろしく。

    あなたは　ジョンさんですか。
    はい,　わたしは　ジョンです。
    あなたは　がくせいですか。
    はい,　わたしは　がくせいです。
    あなたは　ワランスじんですか。
    いいえ,　わたしは　ワランスじんでは　ありません。
    アメリカじんです。

    この　かたは　どなたですか。
    その　かたは　インドネシアの　アリさんです。
    その　かたは　どなたですか。
    この　かたは　ちゅうごくの　チンさんです。
    あの　かたは　どなたですか。

    どの　かたですか。
    あの　おんなの　かたです。
    あの　かたは　タイの　らラタナーさんです。

    あの　おとこの　かたは　どなたですか。
    あの　かたは　ワィリピンの　カロさんです。
    アリさんは　にほんじんですか。
    いいえ,　アリさんは　にほんじんでは　ありません。　アリさんは インドネシアじんです。
    チンさんは　にほんじんですか。
    いいえ,　チンさんも　にほんじんでは　ありません。　チンさんは ちゅうごくじんです。
    ラタナーさんも　ちゅうごくじんですか。
    いいえ,　ラタナ－さんは　ちゅうごくじんでは　ありません。
    ラタナ－さんは　タイじんです。</h3>
</pre>

        {% endif %}

    {% endblock %}


    {% block leccion1lectura %}
    {% if "/leccion1/lectura" in request.get_full_path %}

        <h2>leccion1 lectura</h2>

    {% endif %}
    {% endblock %}



    {% block leccion1practica %}
    {% if "/leccion1/practica" in request.get_full_path %}

        <h2>leccion1 practica </h2>

    {% endif %}
    {% endblock %}



    {% block leccion1ejercicios %}
    {% if "/leccion1/ejercicios" in request.get_full_path %}

        <h2>leccion1 ejercicios</h2>

    {% endif %}
    {% endblock %}

{% endblock %}
